@{
    ViewData["Title"] = "Craft Details";

    int userId = 0;
    int? sessionUserId = Context.Session.GetInt32("userId");
    if (sessionUserId is not null)
    {
        userId = (int)sessionUserId;
    }
}

@model Craft

<h3 class="mb-3">@Model.Title</h3>

<div class="row">
    <div class="col">
        <div class="p-3 shadow">
            <img src="@Model.ImageUrl" alt="@Model.Title" class="img-fluid">
        </div>
    </div>
    <div class="col">

        @if (Model.User is not null)
        {
            <p class="mb-1">By: @Model.User.Username</p>
        }
        @{
            double price = 0;
            if (Model.Price is not null)
            {
                price = (double)Model.Price;
            }
        }

        <h5>Price: @price.ToString("C")</h5>
        <h5 class="text-secondary">Only @Model.Quantity in stock!</h5>
        <p>@Model.Description</p>

        @{
            Order order = new Order();
            order.CraftId = Model.CraftId;
            @await Html.PartialAsync("_CreateOrder", order);
        }
    </div>
</div>